<div>
  <button (click)="selectItem('lead')" [ngClass]="{btn:true, 'btn-primary':true}">Lead</button>
  <button (click)="selectItem('junior')" [ngClass]="{btn:true, 'btn-primary':true}">Junior</button>
</div>
